extends ../layout.pug

block scripts
  script(type='text/javascript', src='js/home.js')

block head
  title Não fode, porra!
  link(rel='stylesheet', href='css/home.css')

block header
  include header.pug

block content
  article
    h1 Não fode, porra!
    p Ferramenta de controle social, pra gente acabar de vez com essa baderna!
    button Como assim?
