extends ../layout.pug

block head
  title Não fode, porra!

block header
  include header.pug

block content
  article
    h1 Não fode, porra!
    p Ferramenta de controle social, pra gente acabar de vez com essa baderna!
    button Como assim?
