extends ../layout.pug

block scripts
  script(type='text/javascript', src='js/home.js')

block head
  title Não fode, porra!
  link(rel='stylesheet', href='css/home.css')

block content
  article
    h1.heading-title Não fode, porra!
    p.content Ferramenta de controle social, pra gente acabar de vez com essa baderna!
    div.cta
      button(onclick='handleCtaClick()').cta__button Como assim?
        span.cta__arrow.cta__arrow--down
