doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="google-site-verification", content="uCgPS_khu2ZBK8QHTj1_aOcxOZkarThH0IDprWwqw1c")
    block head
  
  body
    block header
    block content
    block footer
    block scripts

    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-125063383-1")
    script window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-125063383-1');
